$grid-row-gap: 4em;

.grid {
    // margin: 1em auto;
    // display: flex;
    // flex-wrap: wrap;
}

.row {
    @media screen and (max-width: $media_mobile) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    @media screen and (min-width: $media_mobile) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        gap: $grid-row-gap;
    }
}

.col {
    flex-direction: column;
    flex: 100%;
 
    @media only screen and (max-width: $media_mobile) {  // 502px
        flex: 100%;
    }

    @media only screen and (min-width: $media_mobile) {  // 768px 
        flex: 33.3333%;
    }
}

.grid-item {
    padding: 0;
    margin: 0;
    
    & img {
        width: 100%;
        // height: 15.625rem;
        object-fit: cover;
        object-position: 50% 50%;

        @media only screen and (min-width: 31.375em) {
            // height: 25rem;

        }
        @media only screen and (min-width: 81.25em) {  // 1300px
            // height: 28.125em;
        }
    }
}